<div id="content">
	
	<div id="page_left">
		
		<div class="left_block">
			<div class="block_header">
				<h3>Profile for <%= @user.username %></h3>
			</div>
			
			
			<div id="profile">
				<%= gravatar_for(@user) %> <br />
				<span>Name: <%= @user.username %></span> <br />
				<span>Email: <%= @user.email %></span> <br />
				<span>Location: <%= @user.loc %></span> <br />
				<span>Occupation: <%= @user.occ %></span> <br />
				<span>Homepage: <%= @user.homepage %></span> <br />
				<span>Msn: <%= @user.msn %></span> <br />
				
			</div>
		</div>
	</div>
	
	<div id="page_right">
		<%= render :partial => "shared/affiliates" %>
	</div>

</div>