<div id="content">
	
	<div id="page_left">
		
		<div class="left_block">
			<div class="block_header">
				<h3>Profile for <%= @user.username %></h3>
			</div>
			
			
			<div id="profile" class="block_content">
				<%= gravatar_for(@user) %> <br />
				<span>Name: <%= @user.username %></span> <br />
				<span>Email: <%= @user.email %></span> <br />
				<span>Location: <%= @user.loc %></span> <br />
				<span>Occupation: <%= @user.occ %></span> <br />
				<span>Homepage: <%= @user.homepage %></span> <br />
				<span>Msn: <%= @user.msn %></span> <br />
				
			</div>
		</div>
		
		<div class="left_block">
			<div class="block_header">
				<h3>Games by <%= @user.username %></h3>
			</div>
			
			
			<div id="popular_games" class="game_list" style="min-height: 150px;">
			<%= render :partial => "welcome/game_list", :locals => { :games_list => @games } %>
			</div>
		</div>
		
		<div class="left_block">
			<div class="block_header">
				<h3>Comments</h3>
			</div>
			
			
			<div id="profile_comments" class="block_content">
				<% @profile.profile_comments.each do |post| %>
							<br /><%= post.user_id %> 
							<%= post.comment %> <br />
				<% end %>
				
				<% if user_signed_in? && (not current_user.is_guest?) %>
					<%= form_for [@user, @profile, ProfileComment.new] do |f| %>
						
						
						<div class="field">
						    <h4><%= f.label :comment %></h4><br />
						    <%= f.text_area :comment %>
					    </div>
					    <div class="actions">
						    <%= f.submit "Add Comment" %>
						</div>
					<% end %>
				<% end %>
				
				
			</div>
		</div>
		
		
	</div> <!-- End page left -->
	
	<div id="page_right">
		<%= render :partial => "shared/affiliates" %>
	</div>

</div>