<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Description:</b>
  <%= @game.description %>
</p>

<p>
  <b>Author:</b>
  <%= @game.author %>
</p>

<p>
  <b>Link:</b>
  <%= @game.link %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>

<p>
  <b>Exe:</b>
  <%= @game.exe %>
</p>

<p>
  <b>Width:</b>
  <%= @game.width %>
</p>

<p>
  <b>Height:</b>
  <%= @game.height %>
</p>

<p>
  <b>Parameters:</b>
  <%= @game.parameters %>
</p>

<p>
  <b>Thumb:</b>
  <%= @game.thumb %>
</p>

<p>
  <b>Backcolor:</b>
  <%= @game.backcolor %>
</p>

<p>
  <b>Bimage:</b>
  <%= @game.bimage %>
</p>

<p>
  <b>Pimage:</b>
  <%= @game.pimage %>
</p>

<p>
  <b>Limage:</b>
  <%= @game.limage %>
</p>

<p>
  <b>Load width:</b>
  <%= @game.load_width %>
</p>

<p>
  <b>Load height:</b>
  <%= @game.load_height %>
</p>

<p>
  <b>Loadx:</b>
  <%= @game.loadx %>
</p>

<p>
  <b>Loady:</b>
  <%= @game.loady %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
